<div class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1 class="m-0">Edytacja wizyty</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/visits/">Wizyty</a></li>
            <li class="breadcrumb-item active">Edytuj</li>
        </ol>
        </div>
    </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Wizyta > Edytowanie wizyty zakończone</h3>
                    </div>
                    <div class="card-body">
                        <% if @visit.persisted? %>
                        <span class="text text-success h4">Wizyta została zmieniona pomyślnie.</span>
                        <% else %>
                        <span class="text text-danger h4">Nie udało się edytować wizyty.</span>
                        <% end %>
                    </div>
                    <div class="card-footer">
                        <a href="/visits/" class="btn btn-secondary">Lista wizyt</a>
                        <a href="/" class="btn btn-secondary ml-2">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>