<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1 class="m-0">Rejestracja nowej wizyty</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/visits/">Wizyty</a></li>
            <li class="breadcrumb-item active">Nowa</li>
        </ol>
        </div><!-- /.col -->
    </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section id="visits_new" class="content">
    <div class="container-fluid">
    <!-- Main row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Formularz nowej wizyty</h3>
                </div>
                <%= form_for @visit do |f| %>
                <%= f.hidden_field :patient_id %>
                <inpu name="visit_time" type="hidden" value="<%= @visit["visit_time"] %>">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-6 <%= 'has-error' if @visit.errors.include?(:patient_id) %>">
                            <%= f.label 'Pacjent' %>
                            <input type="text" class="form-control<%= @visit.errors.include?(:patient_id) ? ' is-invalid' : '' %>" value="<%=@patient_name%>" disabled>
                            <% if @visit.errors.include?(:patient_id) %>
                            <span class="error invalid-feedback" style="display: block"><%= @visit.errors.full_messages_for(:patient_id)[0] %></span>
                            <% end %>
                        </div>
                        <div class="form-group col-6 <%= 'has-error' if @visit.errors.include?(:doctor_id) %>">
                            <%= f.label 'Doktor' %>
                            <%= f.select :doctor_id, options_for_select(@doctors.map { |c| [(c.name + ' ' + c.surname), c.id] }, @visit.doctor_id), { include_blank: '' }, class: "form-control #{'is-invalid' if @visit.errors.include?(:doctor_id)}" %>
                            <% if @visit.errors.include?(:doctor_id) %>
                            <span class="error invalid-feedback" style="display: block"><%= @visit.errors.full_messages_for(:doctor_id)[0] %></span>
                            <% end %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6 <%= 'has-error' if @visit.errors.include?(:visit_date) %>">
                            <%= f.label 'Data wizyty' %>
                            <%= f.text_field :visit_date, class: "form-control #{'is-invalid' if @visit.errors.include?(:visit_date)}", placeholder: 'yyyy-mm-dd', autocomplete: 'off' %>
                            <% if @visit.errors.include?(:visit_date) %>
                                <span class="error invalid-feedback" style="display: block"><%= @visit.errors.full_messages_for(:visit_date)[0] %></span>
                            <% end %>
                        </div>

                        <div class="form-group col-6 <%= 'has-error' if @visit.errors.include?(:visit_time) %>">
                            <%= f.label 'Godzina wizyty' %>
                            <%= f.select :visit_time, options_for_select([f.object.visit_time], selected: f.object.visit_time), { include_blank: 'Wybierz godzinę' }, class: "form-control #{'is-invalid' if @visit.errors.include?(:visit_time)}" %>
                            <% if @visit.errors.include?(:visit_time) %>
                                <span class="error invalid-feedback" style="display: block"><%= @visit.errors.full_messages_for(:visit_time)[0] %></span>
                            <% end %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6 <%= 'has-error' if @visit.errors.include?(:visit_price) %>">
                            <%= f.label 'Cena wizyty' %>
                            <%= f.text_field :visit_price, class: "form-control #{'is-invalid' if @visit.errors.include?(:visit_price)}", placeholder: 'Cena wizyty', autocomplete: 'off' %>
                            <% if @visit.errors.include?(:visit_price) %>
                            <span class="error invalid-feedback" style="display: block"><%= @visit.errors.full_messages_for(:visit_price)[0] %></span>
                            <% end %>
                        </div>
                        <div class="form-group col-6">
                            <%= f.label 'Waluta' %>
                            <input type="text" class="form-control" value="PLN" disabled>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <%= f.submit 'Zarejestruj wizyte', class: 'btn btn-primary' %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
    <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->