<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Pacjenci</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Pacjenci</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section id="patients" class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Lista pacjentów</h3>
          </div>

          <% if @patients.length > 0 %>
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <form id="filter-form" action="/patients" method="get">
                <input name="order" type="hidden" value="<%=params[:order]%>">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Imie</th>
                    <th>
                      <% if params[:order] == 'surname' %>
                        <button name="order" value="surname_desc">
                          Nazwisko
                          <i class="fas fa-chevron-down"></i>
                        </button>
                      <% elsif params[:order] == 'surname_desc' %>
                        <button name="order" value="">
                          Nazwisko
                          <i class="fas fa-chevron-up"></i>
                        </button>
                      <% else %>
                        <button name="order" value="surname">
                          Nazwisko
                        </button>
                      <% end %>
                    </th>
                    <th>Płeć</th>
                    <th>
                      <% if params[:order] == 'birth' %>
                        <button name="order" value="birth_desc">
                          Data urodzenia
                          <i class="fas fa-chevron-down"></i>
                        </button>
                      <% elsif params[:order] == 'birth_desc' %>
                        <button name="order" value="">
                          Data urodzenia
                          <i class="fas fa-chevron-up"></i>
                        </button>
                      <% else %>
                        <button name="order" value="birth">
                          Data urodzenia
                        </button>
                      <% end %>
                    </th>
                    <th>Miasto urodzenia</th>
                    <th>Ilość wizyt</th>
                  </tr>
                  <tr>
                      <th></th>
                      <th></th>
                      <th>
                        <select name="filter_surname" class="form-control">
                          <option></option>
                          <% @surnames.each do |surname| %>
                          <option value="<%= surname %>"<%= surname == params[:filter_surname] ? ' selected' : '' %>><%= surname %></option>
                          <% end %>
                        </select>
                      </th>
                      <th>
                        <select name="filter_gender" class="form-control">
                          <option></option>
                          <% @genders.each do |gender| %>
                          <option value="<%= gender %>"<%= gender == params[:filter_gender] ? ' selected' : '' %>>
                            <% if gender == 'm' %>
                              Mężczyzna
                            <% elsif gender == 'w' %>
                              Kobieta
                            <% end %>
                          <% end %>
                        </select>
                      </th>
                      <th></th>
                      <th></th>
                      <th></th>
                  </tr>
                </thead>
              </form>
              <tbody>
                <% @patients.each do |patient| %>
                <tr data-widget="expandable-table" aria-expanded="false">
                  <td><%= patient.id %></td>
                  <td><%= patient.name %></td>
                  <td><%= patient.surname %></td>
                  <td><%= patient.gender == 'm' ? 'Mężczyzna' : 'Kobieta' %></td>
                  <td><%= patient.birth %></td>
                  <td><%= patient.city %></td>
                  <td>
                    <a href="/patients/visits?patient_id=<%= patient.id %>"><%= patient.visits_count %></a>
                  </td>
                </tr>
                <tr class="expandable-body">
                  <td colspan="7">
                    <div class="d-flex align-items-center justify-content-center">
                      <a href="/visits/new?patient_id=<%= patient.id %>" class="btn btn-block btn-primary mt-0 mr-2">Dodaj Wizytę</a>
                      <a href="/patients/visits?patient_id=<%= patient.id %>" class="btn btn-block btn-primary mt-0 ml-2">Lista wizyt</a>
                    </div>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <div class="mt-3 d-flex align-items-center justify-content-center">
              <%== pagy_bootstrap_nav(@pagy, prev: 'Wcześniej', next: 'Dalej') %>
            </div>
          </div>
          <% else %>
          <div class="card-body text-center">
            <span class="text text-danger h4">Aktualnie nie ma żadnego zarejestrowanego pacjenta.</span>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>