<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Wizyty pacjenta</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Pacjent: <%= @patient_name %></li>
          <li class="breadcrumb-item active">Wizyty</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Lista wizyt pacjenta: <%= @patient_name %></h3>
          </div>
          <% if @visits.length > 0 %>
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Pacjent</th>
                  <th>Lekarz</th>
                  <th>Data</th>
                  <th>Czas</th>
                  <th>Cena</th>
                </tr>
              </thead>
              <tbody>
                <% @visits.each do |visit| %>
                <tr data-widget="expandable-table" aria-expanded="false">
                  <td><%= visit.id %></td>
                  <td><%= visit.patient.name + ' ' + visit.patient.surname %></td>
                  <td><%= visit.doctor.name + ' ' + visit.doctor.surname %></td>
                  <td><%= visit.visit_datetime.strftime('%Y-%m-%d') %></td>
                  <td><%= visit.visit_datetime.strftime('%H:%M') %></td>
                  <td><%= visit.visit_price.to_s + ' ' + visit.visit_currency.to_s %></td>
                </tr>
                <tr class="expandable-body">
                  <td colspan="6">
                    <div class="d-flex align-items-center justify-content-center">
                      <a href="/visits/new?patient_id=" class="btn btn-block btn-primary mt-0 mr-2">Edytuj Wizyte</a>
                      <%= link_to "Usuń Wizytę", visit, method: :delete, data: { confirm: "Czy jesteś pewien że chcesz usunąc wizyte?" }, class: "btn btn-block btn-danger mt-0 ml-2" %>
                    </div>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <div class="mt-3 d-flex align-items-center justify-content-center">
              <%== pagy_bootstrap_nav(@pagy, prev: 'Wcześniej', next: 'Dalej') %>
            </div>
          </div>
          <% else %>
          <div class="card-body text-center">
            <span class="text text-danger h4">Aktualnie nie ma żadnej wizyty.</span>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>