/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'admin-lte/plugins/fontawesome-free/css/all.min'
 *= require 'admin-lte/plugins/select2/css/select2.min'
 *= require 'admin-lte/dist/css/adminlte.css'
 *= require 'admin-lte/plugins/jquery-ui/jquery-ui.min'
 */

.text-lowercase{
    text-transform: lowercase!important;
}
.text-lowercase:first-letter{
    text-transform: capitalize;
}

select.empty{
    font-weight: bold;
    color: #999;
}

button[name=order]{
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.ui-datepicker-prev::before {
  content: "\f104"; /* Kod Unicode dla ikony strzałki w lewo z Font Awesome */
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin: 0 0 0 10px;
}

.ui-datepicker-next::before {
  content: "\f105"; /* Kod Unicode dla ikony strzałki w prawo z Font Awesome */
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin: 0 0 0 10px;
}

.ui-widget-header .ui-icon{
  background-image: none!important;
}